/*
	Styles added by Hazlitt Eastman (Manta 9)
*/

#gform_widget-5 h3 {
	color: #666666;
    font: 30px/34px 'LeagueGothicRegular',Arial,sans-serif;
    letter-spacing: 0;
    padding-bottom: 3px;
    padding-top: 13px;
	background-color: #EEEFEF;
	margin: 0px 0 0 -10px;
}
	
#gform_widget-5 {
	background-color: #EEEFEF;
    border-radius: 5px 5px 5px 5px;
	padding: 0 20px 0 20px;
}

.widgetcontainer input#gform_submit_button_3 {
	width: 81px !important;
	height: 24px;
	background: none;
	border: 0;
}